@import 'tailwindcss';

/* Base theme: Light mode (default) */
:root {
  /* Background and text */
  --background: #f9fafb; /* off-white paper */
  --foreground: #060504; /* off-black ink */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 Dark mode overrides
 add the "dark" class to an ancestor
 for example, the `document.documentElement` (<html>) element
 */
.dark {
  /* Background and text */
  --background: #181818;
  --foreground: #d1d1d1;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

body {
  display: block;
  font-size: clamp(12px, 2vw, 36px);
  font-family: courier new;
  font-weight: 400;
}

#root {
  margin: 0;
  padding: 0;
}

a {
  /* Darker blue for light mode */
  color: #1e3a8a;

  font-weight: 500;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Dark mode link colors remain light for contrast */
.dark a {
  color: #70b2fd;
}

.table, th, td {
  border-color: var(--foreground);
}

/* Additional styles for headings and lists */
h1 {
  font-size: 165%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h1, h2, h3, h4, h5, h6, hr, ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  color: var(--foreground);
  background-color: var(--foreground);
}
